@model MediaLibrary.Web.Models.ViewModel.LoginModel

@{
    ViewBag.Section = "Login";
}

@using (Html.BeginForm())
{
    <div class="editor-folder">
        <div class="editor-item w300">
            <div class="editor-label">
                @Html.LabelFor(m => m.Username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>
        </div>
        <div class="clear"></div>

        <div class="editor-item w300">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="clear"></div>

    </div>

    <div class="buttons">
        <input type="submit" name="change" value="Login" />
    </div>
}